* {
    font-family: "Outfit", sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

main section {
    text-align: center;
    display: flex;
}

main section .card {
    border: 2px solid #fff;
    width: 45%;
    margin: auto;
    border-radius: 12px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    
}

main section .card .image img {
    border-radius: 12px;
}

main section .image img {
    display: inline-block;
    width: 100%;
    
}

.text h3 {
    font-size: 1.25rem;
    color: hsl(218, 44%, 22%);
}

.text p {
    color: hsl(216, 15%, 48%);
    font-size: 1rem;
}

@media (max-width: 600px) {
  main section .card {
    width: 70%;
  }
}